{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "chrome": 70
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
}
